* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 5vh;
}

.container {
  width: 50vw;
  height: 40vh;
  text-align: center;
  display: inline-block;
  background-color: blanchedalmond;
  margin-top: 5vh;
  border-radius: 0.5vw;
}

#sectionForm {
  width: 50vw;
  height: 40vh;
}

.inputs:first-child {
  margin-top: 2vh;
}

.inputs {
  width: 50vw;
  height: 8vh;
}

input {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 1vh;
  width: 30vw;
  display: block;
  padding: 10px 10px;
  border: 0;
  border-radius: 0.2vw;
}

#botaoCad {
  margin-left: 5vw;
  margin-right: 1.5vw;
}

#botaoRec {
  margin-right: 5vw;
  margin-left: 1.5vw;
}

.botao {
  background-color: aliceblue;
  font-size: 17px;
  width: 10vw;
  padding: 8px 5px;
  margin-top: 0.3vh;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
}

.botao:hover {
  background-color: rgb(177, 177, 177);
  color: white;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80vw;
    height: 50vh;
  }

  #sectionForm {
    width: 80vw;
    height: 50vh;
  }

  .inputs:first-child {
    margin-top: 3vh;
  }

  .inputs {
    width: 80vw;
    height: 8vh;
    margin-top: 2vh;
  }

  input {
    width: 60vw;
  }

  .botao {
    width: 20vw;
    margin-top: 2vh;
  }

  #botaoCad {
    margin-left: 7vw;
    margin-right: 3vw;
  }

  #botaoRec {
    margin-right: 7vw;
    margin-left: 3vw;
  }
}

@media screen and (max-width: 500px) {
  .inputs {
    margin-top: 1vh;
  }

  .botao {
    width: 60vw;
  }

  #botaoCad {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0.5vh;
  }

  #botaoRec {
    margin-right: 0;
    margin-left: 0;
    margin-top: 2vh;
  }
}
